<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergio.caminando" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IOSched" >
        <activity
            android:name=".ui.BrowseSessionsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:theme="@style/Theme.IOSched.Welcome" />
        <activity
            android:name=".ui.CreateRouteActivity"
            android:label="@string/title_activity_create_routes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sergio.caminando.ui.BrowseSessionsActivity" />
        </activity>

        <!-- Helper Activity to see database -->
        <activity
            android:name=".util.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.BrowseSessionsActivity"
            android:theme="@style/Theme.IOSched.SessionDetails" />

        <provider
            android:name=".provider.RouteProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.CaminandoAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.CaminandoSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name=".service.UploadRouteService"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".maps.MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sergio.caminando.ui.CreateRouteActivity" />
        </activity>
    </application>

</manifest>
